body {
	font-family:Georgia, serif;
	font-size:12pt;
	background-color:#cfcf01;
	text-align:center;}

a {
	color:#0dcfcf;
	font-weight:bolder;
	text-decoration:overline;}

a:hover {
	color:#e0e0e0;
	text-decoration:line-through;}

table {
	border:10px solid;
	border-spacing:5px;
	border-collapse: separate;
	}

th {
	padding:0px;
	border:10px;}

td {
	padding:1px;
	border:10px solid;
	background-color:#ffffff;
	color:#9900cf;}

h1, h2, h3 {
	font-size:48pt;
	color:#ffffff;
	margin-bottom:0px;}

ul {
	list-style-type:circle;
	text-align:right;}

ol {
	list-style-type:hebrew;
	text-align:right;}

li {
	padding-bottom:25px;}

hr {
	border:2px solid;
	height:10px;
	background-color:#e0e0f0;
	margin-bottom:25px;}

img:hover {
	-webkit-filter:invert(100%);
	filter:invert(100%);}

img {
	-webkit-filter:hue-rotate(90deg);
	filter:hue-rotate(90deg);}